@import "global";
body {
	font-family: 'Merriweather Sans', sans-serif;
}
header { 
	margin-bottom:20px;
	padding:5px 15px;
	border-bottom:1px solid #d9d9d9;
	background-color:#f0f0f0;
	@include text-shadow(rgba(black, 0.8) 1px 1px 1px);
	.logo {
		display:inline-block;
		margin-right: 10px;
		vertical-align: middle;
	}
	h1 {
		display:inline-block;
		vertical-align: middle;
		font-size:22px;
		line-height:22px;
		font-weight:bold;
	}
}
.content {
	min-height:580px;
	margin:0 15px;
}
footer {
	padding:0 15px;
}

.list {
	td,th { padding:5px 8px; border:1px solid #f0f0f0;}
}
.takecare { margin:10px 0px; padding: 5px; border-left:3px solid #474747; background-color:#f8f8f8;}	
